<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<h2>EDIT / ADD MOVIE</h2>
<div style="text-align: center" th:insert="fragments/navigation.html ::navbar"></div>
<br>
<section>

    <form action="#" th:action="@{/addMovie}" th:object="${movie}" method="post">
        <input type="hidden" th:field="*{id}">
        Nazev: <input type="text" th:field="*{title}"><br>
        Year: <input type="text" th:field="*{year}"><br>
        Lenght: <input type="text" th:field="*{length}"><br>

<!--        <select th:field="*{filmActors}" class="form-select" multiple>-->

<!--            <option th:each="actor: ${allActors}">-->
<!--                <p th:text="${actor.name} + ' ' + ${actor.surname}"></p>-->
<!--            </option>-->

<!--        </select>-->


        <input type="submit">
    </form>

</section>






</body>
</html>