<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie detail</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body style="text-align: left">
<h2>Movie detail</h2>

    <section>
        <button class="btn btn-primary" onclick="window.location.href='/';  return false;" type="button"><i class="fa fa-arrow-left"></i> <span>Return</span></button>
    </section>

    <hr>

    <section>

        <br>
        <h3 th:text="${movie.title}"></h3>
        <br>
        <h4 th:text="'Rok: ' + ${movie.year}"></h4>
        <br>
        <h4 th:text="'Země: ' + ${movie.country}"></h4>
        <br>
        <h4 th:text="'Délka: ' + ${movie.length} + ' minut'"></h4>
        <br>
        <h4 th:text="'Hodnocení: ' + ${movie.rating} + '%'"></h4>
    </section>


<section>
    <button class="btn btn-primary" th:onclick="'window.location.href=\'/movie-form/' + ${movie.getId()} + '\''" type="button"><span>Edit</span></button>
</section>

</body>
</html>